body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    height: 70px;
}

.logo {
    height: 50px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    display: flex;

}

.nav-button {
    background-color: black;
    color: seashell;
    border: none;
    padding: 10px 20px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.9s ease;
}

.nav-button:hover {
    background-color: gray;
}


#hero {
    position: relative;
    width: 95%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

#hero-image {
    position: absolute;
    width: 95%;
    height: 900px;
    object-fit: cover;
    z-index: -1;

}

#hero-text {
    position: relative;
    z-index: 1;
    width: 95%;
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: seashell;

}

#hero h2 {
    font-size: 2.5em;
    margin: 0;
}

#hero h4 {
    font-size: 1em;
    margin: 10px 0 0 0;
}

#tea-of-the-month {
    text-align: center;
    padding: 5px;
}

#tea-of-the-month h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#tea-of-the-month h4 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
}

.tea-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width:1400px;
    margin: 50px auto; /* Center the grid */
}

.tea-item {
    width: 400px;
    height: 400px;
    text-align: center;
}

.tea-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tea-item p {
    font-size: 1em;
    margin-top: 20px;
    color:white;
    font-weight: bold;
}

#timetable {
    text-align: center;
    margin-top: 0px;
}

#timetable h2 {
    font-size: 2.5em;
}

#timetable table{
    margin: 0 auto; /* Center the table */
    width: 55%; /* Adjust the width as needed */
}

#timetable th{
    background-color: rgb(56, 56, 56);
    border: 0.5px solid #ddd;
    padding: 12px;
    text-align: center;
}


 #timetable td {
    border: 0.5px solid #ddd;
    padding: 12px;
    text-align: center;
}

#locations {
    position: relative;
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px auto; /* Add margin to separate from the table */
}

#locations-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#locations-title {
    position: absolute;
    top: 15px; /* Adjusted for better alignment */
    z-index: 1;
    width: 100%;
    color: white;
    text-align: center;
}


.locations-item {
    background-color: rgba(0, 0, 0, 0.7); /* Black with some transparency */
    color: white;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.locations-item h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.locations-item p {
    margin: 10px 0;
}